html,body{
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: 'Gayathri', sans-serif;
}

#rain{
  position: absolute;
  left: 0px;
  top: 0px;
  user-select: none;
}

h1{
  text-align: center;
  margin-top: 130px;
  font-size: 42px;
  position: relative;
  color: white;
}

#options {
  text-align: center;
  margin-top: 50px;
  position: relative;
  z-index: 10;
}

.raindrop {
  padding: 20px;
  font-size: 1.2rem;
  margin: 1.2rem;
  cursor: pointer;
  background:#fff;
  border: 1px solid #95a5a6;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  /* .raindrop:nth-child(3) {
    display: none;
  } */
  #options {
    display: flex;
    flex-direction: column;
  }
  .raindrop button {
    /* color: red; */
    width: 30%;
    justify-content: center;
    align-items: center;
  }
}